name: Wiki Sync
# Updated to use Andrew-Chen-Wang action

on:
  push:
    branches:
      - main
    paths:
      - 'docs/wiki/**'
permissions:
  contents: write

jobs:
  update-wiki:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Sync Wiki
        uses: Andrew-Chen-Wang/github-wiki-action@v4
        with:
          path: docs/wiki
          commit-message: "Sync docs/wiki to Wiki"
