name: Wiki Sync

on:
  push:
    branches:
      - main
    paths:
      - 'docs/wiki/**'

jobs:
  update-wiki:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Sync Wiki
        uses: newrelic/wiki-sync-action@v1.0.1
        with:
          source: docs/wiki
          destination: wiki
          token: ${{ secrets.GITHUB_TOKEN }}
          gitAuthorName: "github-actions[bot]"
          gitAuthorEmail: "github-actions[bot]@users.noreply.github.com"
